<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />
<body>
	<nav th:replace="fragments/nav" />
	<div class="container">
		<h2>Lista de peticiones</h2>
		<div class="table-responsive">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Nombre</th>
						<th class="col-md-1"></th>

					</tr>
				</thead>
				<tbody>
					<tr th:each="invitation : ${invitationList}"
						th:id="${'invitation' + invitation.id}">
						<td th:text="${invitation.emisor.name}">Nombre</td>
						<td th:text="${invitation.emisor.email}">Email</td>
						<td>
							<button
							type="button"
							th:id="${'acceptButton' + invitation.emisor.email}"
							th:onclick="javascript:aceptar([[${invitation.id}]]);"
							class="btn btn-default">
							Aceptar
							</button>
						</td>
					</tr>
					<script th:inline="javascript">
					/*<![CDATA[*/
						function aceptar(inv) {
							$.post("/friend/accept",{"InvitationId" : inv});
							document.getElementById("invitation"+inv).remove();
						}
					/*]]>*/
					</script>
					
				</tbody>
			</table>
		</div>
		<footer th:replace="fragments/pagination" />
	</div>
	<footer th:replace="fragments/footer" />
</body>
</html>