<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />
<body>
	<nav th:replace="fragments/nav" />
	<div class="container" style="text-align: center">
		<h2 th:text="#{welcome.message}"></h2>
		<h3 th:text="#{home.message}">Esta es una zona privada la web</h3>
		<p>
		<div th:text="#{home.user}">Usuario Autenticado como :</div>
		<span sec:authentication="principal.username" th:inline="text"></span>
		</p>
		<p>Notas del Usuario:</p>
		<div th:replace="fragments/list" />
	</div>
	
	<footer th:replace="fragments/footer" />
</body>
</html>